@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply h-full;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgba(23, 23, 57, 0.8), rgba(56, 38, 105, 0.8), rgba(47, 23, 101, 0.8), rgba(23, 23, 57, 0.8));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  @apply bg-background text-white;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.dashboard-container {
  @apply flex flex-col justify-center items-center h-screen p-5;
  backdrop-filter: blur(10px);
  background: rgba(32, 32, 44, 0.4);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
